.container-1, .container-2, .container-3, .container-4, .container-5  {
    border: 2px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flexbox-container-1, .flexbox-container-2, .flexbox-rps, .flexbox-color-pick,
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
    display: flex;
    border:  2px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-blackjack-row-1, .flex-blackjack-row-2 {
    background: url('https://thumbs.dreamstime.com/b/chips-cards-lie-green-blackjack-table-top-view-casino-concept-gambling-202725506.jpg');
    color: #ffffff;
}

.flex-blackjack-row-1 div {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    flex: 1;
    height: 350px;

}

.flex-blackjack-row-1 img{
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row-2 button {
    border: 2px solid black;
}

.flex-blackjack-row-2 div {
    border: 2px solid black;
    padding: 10px;

}

table, th {
    padding: 5px;
    border: 2px solid black;
}

.flexbox-container-1 div {
    display: flex;
    padding: 10px;
    border: 2px solid black;
    align-items: center;
}
 
.flex-box-container-2 img:static {
    margin: 10px;
    box-shadow: 0px 10px 50px solid black;
}

.flexbox-rps img:hover {
    box-shadow: 0px 10px 50px blue;
} 

/* style flexbox-rps div */